* {
    box-sizing: border-box;
}

body {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.row table {
    border: 1px solid black;
    background-color: #fff;
}

.row td {
    border: 1px solid black;
}

.row tr {
    border: 1px solid black;
}
       
.col-12 button {
    margin: 0 5px;
}


